
@import url("./font/raleway.css");

.color-black {
  background: #000;
  color: #fff;
}

.color-red {
  background: #be0000;
  color: #fff;
}

.color-white {
  background: #fff;
  color: #000;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

.dg {
  visibility: hidden;
}

html {
  font-family: "Raleway", sans-serif !important;
  color: #fff;
  overflow-x: hidden;
}

.polygon{
  clip-path: polygon(39% 1%,63% 1%,83% 11%,95% 28%,100% 50%,94.5% 73%,83.5% 89%,63% 99%,39% 99%,18% 90%,5% 72%,0% 50%,5% 28%,17% 11%);
}

/* GRADIENTS */

.let-talk-gradient {
  background: -webkit-linear-gradient(#ff1b43, #be0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient {
  background: -webkit-linear-gradient(#ff1b43, #be0000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
