.opengraph-container {
  width: 1200px;
  height: 630px;
}

.circle-right-external {
  width: 700px;
  height: 627px;
  background-color: aliceblue;
  right: 0;
  top: 0;
  clip-path: polygon(0% 0%,100% 0%,100% 86%,87% 86%,58% 81%,33% 69%,11% 46%, 2% 20%);
}

.circle-right-internal{
  width: 672px;
  height: 627px;
  background-color: rgb(33, 111, 179);
  background: url("../images/catedral-home-desk.png");
  right: 0;
  top: 0;
  clip-path: polygon(0% 0%,100% 0%,100% 86%,87% 86%,58% 81%,33% 69%,11% 46%, 2% 20%);
}

.text-box{
  left: 4rem;
  top: 6rem;
}

.text-box h2{
  font-size: 3rem;
  line-height: 3rem;
}

.text-box div span{
  font-size: 2rem;
}

.name-developer{
  margin-top: 21rem;
}

.name-developer h5{
  font-size: 2rem;
}
.name-developer p{
  line-height: 1.2rem;
  font-size: 1.4rem;
}

.logo-buzzvel {
  /* left: 0; */

  width: 3rem;
  margin-top: 32rem;
}

.footer{
  height: 12.5rem;
  width: 30rem;

  background: url(../images/background-desk-companies.png);
  background-position: -531px 0%;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  /* background-color: aliceblue; */
 /* clip-path: polygon(0% 10%,12% 0%,26% 0%,41% 15%,56% 50%,72% 62%,90% 72%,100% 64%,100% 100%,0% 100%); */
}

.clients{
  width: 2.4rem;
}

.clients-other{
  width: 3.8rem;
}

.profile{
  width: 15.2rem;
  height: 15.2rem;
  background-color: aliceblue;
}
.profile img{
  width: 15rem;
}

.emoji{
  width: 6rem;
  height: 6rem;
  font-size: 3.3rem;
  margin-top: 9rem;
  margin-left: -12rem; 
}